html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.aside-menu {
    height: calc(100vh - 63px);
    width: 255px;
    background: #08080b;
    padding-top: 1rem;
    overflow-y: auto;
}

.side-button {
    width: 88%;
    margin: auto;
    background: #0b0b0b;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 20px;
}

.side-button:hover {
    background: #ffffff1c;
    transition: .2s;
}

.side-button.active {
    background: #ffffff2a;
    /* o el color que prefieras */
    color: #fff;
}


.icon-aside {
    margin-right: 1rem;
    color: #83889b;
    font-size: 1rem;

}

.container-app {
    height: calc(100vh - 63px);
    background-color: #10151B;
    display: flex;
    overflow: hidden;
}

.table-datos,
.table-datos thead,
.table-datos tbody,
.table-datos tr,
.table-datos th,
.table-datos td {
    background: transparent !important;
    color: #fff !important;
    border: none !important;

}

.table-datos th {

    border-bottom: 2px solid #3a3a3a !important;

}

.table-datos td {
    border-bottom: 2px solid #252534 !important;
    /* o el color que prefieras */
}

.main-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table-section {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

/* Scrollbar personalizado para .table-section */
/* WebKit (Chrome, Edge, Safari) */
.table-section::-webkit-scrollbar {
    width: 4px;
}

/* Scroll horizontal */
.table-section::-webkit-scrollbar:horizontal {
  height: 4px;
}

.table-section::-webkit-scrollbar-track {
    background: transparent;
}


.table-section::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s ease;
}



.table-section::-webkit-scrollbar-corner {
  background: transparent; /* O el color oscuro que estés usando */
}


.table-section:hover::-webkit-scrollbar-thumb {
  background: #7a7aa2ab;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

.table-section:hover::-webkit-scrollbar-track {
    background: #1e222a;
}

.table-section:hover::-webkit-scrollbar-corner {
  background: #1e222a; /* O el color oscuro que estés usando */
}
